body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #2b292c;
}

header {
    display: flex;
    justify-content: center;
    background-color: #d53b47;
    padding: 1rem 0;
}

header img {
    width: 100%;
    max-width: 300px;
    margin: 15px;
}

.wrapper {
    max-width: 1550px;
    margin: auto;
}

.overview {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
}

.tag {
    background-color: rgba(255, 255, 255, 0.3);
    padding: .3rem .7rem;
    border-radius: 15px;
    
}

.left {
    align-items: left;
    margin-left: 10px;
}

.right {
    text-align: right;
    margin-right: 10px;
}

.typeBox {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.miniCard {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 1rem 1.5rem;
    width: 300px;
    min-height: 200px;
    border-radius: 15px;
    padding: 1rem;
    min-width: 305px;
    
}

.miniCard:hover {
    cursor: pointer;
    opacity: 95%;
    transition: all 200ms ease-in-out;
}

.miniCard img {
    width: 150px;
}

.miniCard:hover img {
    transform: scale(1.15);
    transition: all 200ms ease-in-out;
}

/* BG-COLORS */
.grass {
    background: linear-gradient(90deg, rgba(73,208,176,1) 0%, rgba(4,142,109,1) 100%);
}
.fire {
    background: linear-gradient(90deg, rgba(251,108,108,1) 0%, rgb(236, 42, 42) 100%);
}
.water {
    background: linear-gradient(90deg, rgba(118,189,254,1) 0%, rgba(51,147,236,1) 100%);
}
.bug {
    background: linear-gradient(90deg, rgba(118,226,118,1) 0%, rgba(43,167,43,1) 100%);
}
.normal {
    background: linear-gradient(90deg, rgba(242,212,174,1) 0%, rgba(213,158,88,1) 100%);
}
.poison {
    background: linear-gradient(90deg, rgba(246,47,246,1) 0%, rgba(177,32,177,1) 100%);
}
.electric {
    background: linear-gradient(90deg, rgba(255,217,0,1) 0%, rgba(150,129,4,1) 100%);
}
.ground {
    background: linear-gradient(90deg, rgba(184,149,103,1) 0%, rgba(149,117,75,1) 100%);
}
.fairy {
    background: linear-gradient(90deg, rgba(255,200,200,1) 0%, rgba(182,144,144,1) 100%);
}
.fighting {
    background: linear-gradient(90deg, rgba(147,45,45,1) 0%, rgba(73,14,14,1) 100%);
}
.psychic {
    background: linear-gradient(90deg, rgba(156,0,156,1) 0%, rgba(79,0,79,1) 100%);
}
.rock {
    background: linear-gradient(90deg, rgba(128,128,128,1) 0%, rgba(85,85,85,0) 100%);
}
.ghost {
    background: linear-gradient(90deg, rgba(72,65,65,1) 0%, rgba(50,45,45,1) 100%);
}
.ice {
    background: linear-gradient(90deg, rgba(184,184,255,1) 0%, rgba(134,134,250,1) 100%);
}
.dragon {
    background: linear-gradient(90deg, rgba(157,201,124,1) 0%, rgba(118,161,86,1) 100%);
}
.dark {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(80,80,80,1) 100%);
}
.steel {
    background: linear-gradient(90deg, rgba(211,211,211,1) 0%, rgba(145,145,145,1) 100%);
}

#openCard  {
    position: fixed;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    transition: all 225ms ease-in-out;
}

#openCard.active {
    transform: translate(-50%, -50%) scale(1);
    
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: #2b292c8c;
    z-index: 3;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.d-none {
    opacity: 0 !important;
    pointer-events: none;
}

.cardContent {
    background-color: #2b292c;
    width: 350px;
    border-radius: 25px;
    -webkit-box-shadow:0px 0px 31px 5px rgba(255,255,255,0.5);
    -moz-box-shadow: 0px 0px 31px 5px rgba(255,255,255,0.5);
    box-shadow: 0px 0px 31px 5px rgba(255,255,255,0.5);
}

.cardTop {
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 20px;
    width: 320px;
    padding: 10px 15px;
    height: 200px;
}

.img-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn-box {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.332);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-box button {
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.close {
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 1.25rem;
    cursor: pointer;
    color: #2b292c
}

.close:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.card-topline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardTop img {
    max-width: 150px;
    align-self: center;
    margin-top: -150px;
    padding-top: 50%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.cardright {
    font-size: 1.25rem;
    font-weight: bold;
    justify-self: right;

}

.cardBottom {
    height: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardTags{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.openCardTag {
    padding: .3rem .7rem;
    border-radius: 15px;
    background-color: rgba(0, 0, 255, 0.75);
    font-size: .8rem;
    font-weight: bolder;
    min-width: 70px;
    text-align: center;
}

.weight-n-height {
    display: flex;
    margin-top: 1.5rem;
    gap: 4rem;
}

.unit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.unit {
    opacity: 70%;
    font-size: .75rem;
    /* text-align: center; */
}

.unit-value {
    font-size: .9rem;
    font-weight: bold;
    
}

.canvas-container {
    width: 90%;
    margin-top: 2rem;
}

#nextGenButton {
    display: flex;
    justify-content: center;
}
.nextGenButton {
    min-width: 250px;
    padding: .5rem .7rem;
    border: none;
    background-color: #d53b47;
    margin-bottom: 2rem;
    margin-top: 1rem;
    height: 3rem;
    border-radius: 20px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.nextGenButton:hover {
    background-color: #a12c36;
}

@media (max-width: 400px) {
    .overview{
        justify-content: center;
    }
    .miniCard{
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
        padding-left: .5rem;
        padding-right: .5rem;
        max-width: 320px; 
    }

    #openCard {
        max-width: 320px;
        border-radius: 0; 
    }

    .cardTop {
        max-width: 300px;
        border-radius: 0; 
        padding-left: 10px;
        padding-right: 10px;
    }
    .Bottom {
        max-width: 320px;
        border-radius: 0; 
        padding-left: 5px;
        padding-right: 5px;
    }
}