body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #2b292c;
}

header {
    display: flex;
    justify-content: center;
    background-color: #d53b47;
    padding: 1rem 0;
}

header img {
    width: 100%;
    max-width: 300px;
    margin: 15px;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

.overview {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    background-color: rgba(255, 255, 255, 0.3);
    padding: .3rem .7rem;
    border-radius: 15px;
    
}

.left {
    align-items: left;
    margin-left: 10px;
}

.right {
    text-align: right;
    margin-right: 10px;
}

.typeBox {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.miniCard {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 1rem 1.5rem;
    width: 300px;
    min-height: 200px;
    border-radius: 15px;
    padding: 1rem;
    min-width: 305px;
}

.miniCard:hover {
    cursor: pointer;
    opacity: 90%;
}

.miniCard img {
    width: 150px;
}

/* BG-COLORS */
.grass {
    background-color: #49d0b0
}
.fire {
    background-color: #fb6c6c
}
.water {
    background-color: #76bdfe
}
.bug {
    background-color: #76e276
}
.normal {
    background-color: #f2d4ae
}
.poison {
    background-color: #f62ff6
}
.electric {
    background-color: #ffd900
}
.ground {
    background-color: #b89567
}
.fairy {
    background-color: #ffc8c8
}
.fighting {
    background-color: #932d2d
}
.psychic {
    background-color: #9c009c
}
.rock {
    background-color: gray
}
.ghost {
    background-color: #484141
}
.ice {
    background-color: #b8b8ff
}
.dragon {
    background-color: #9dc97c
}
.dark {
    background-color: #000
}
.steel {
    background-color: #d3d3d3
}